header{
	background: #2c3e60;
	color:#fff;
}
.navbar{
	margin-bottom: 1rem;
}
.navbar a{
	font-size: 1.4rem;
	
}
.navbar a:hover{
	border: 1px solid #000;
	border-radius: 30px;
}


aside{
	background: #7cffc9;
	color: #000000;
}

article{
	background: #59d69b;
	color:rgb(0, 0, 0);
}

table{
	background: #70969d;
	columns: #000000;;
}

.color1{
	background:#2c5e80;
	color:#fff;
}

footer{
	margin-top: 1rem;
	background: #59d69b;
	color:#fff;
}
footer span{
	color:red;
}
footer i{
	font-size: 40px;
	margin-right: 1.5rem;
}

.card{
	margin-right: 2px;
	border: 1px solid #000;
}

.card p{
	margin: 4px;
}