body{
	background: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header{
	background: #2c3e60;
	color:#fff;
}
.navbar{
	margin-bottom: 1rem;
}
.navbar a{
	font-size: 1.4rem;
	
}
html{
	scroll-behavior: smooth;
}
.navbar a:hover{
	border: 1px solid #000;
	border-radius: 30px;
}


aside{
	background: #7cffc9;
	color: #000000;
}

article{
	background: #59d69b;
	color:rgb(0, 0, 0);
	
}

table{
	background: #59d69b;
	background: #70969d;
	columns: #000000;
	
}

.color1{
	background:#2c5e80;
	color:#fff;
}

.ilustres{
	color: #000000;
}

.card{
	background: #59d69b;
	margin-right: 2px;
	border: 1px solid #000;
	
}

.card p{
	margin: 4px;
}

.social{
    margin: 50px;
}

.social p{
    text-align: center;
	font-size: 40px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}

.banner-two{
    width: 100%;
    height: 350px;
    background: url(./img/banner.jpg) no-repeat center center/cover;
}

.banner-two .contentTwo{
	width: 100%;
	text-align: center;
	padding: 100px 0 0 30px; 
	font-size: 30px;  
}




@media (max-width: 700px){
    .banner-two .contentTwo{
        width: 80%;
    }
}

@media (max-width: 500px){

    .banner-two .contentTwo{
        width: 100%;
        padding: 60px 20px;
    }
}